name: flutter_smart_repository_example
description: Minimal example using flutter_smart_repository with in-memory data sources.
publish_to: 'none'

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_smart_repository:
    path: ../

flutter:
  uses-material-design: true
